```
# Build artifacts
*.dll
*.exe
*.pdb
*.userprefs
obj/
bin/
Debug/
Release/

# Dependencies
packages/
node_modules/

# Logs
*.log

# Environment
.env
.env.local
*.env.*

# Editors
.vs/
.vshost.exe
.user
.suo
.ReSharper*/
.nupkg.metadata
```